{
    "name": "#composerName#",
    "description": "#description#",
    "type": "shopware-platform-plugin",
    "license": "MIT",
    "autoload": {
        "psr-4": {
            "#composerNamespace#\\": "src/"
        }
    },
    "extra": {
        "shopware-plugin-class": "#composerNamespace#\\#pluginName#",
        "label": {
            "en-GB": "#description#"
        }
    }
}
